
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image:
        linear-gradient(rgba(52, 52, 53, 0.5), rgba(236, 236, 222, 0.5)),
        url( '../img/bcImg.jpg');
}
h1 {
    color: darkblue;
}
img {
    width: 400px;
    /* height: 400px; */
    border-radius: 50px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    border: solid 1px black;
    overflow: hidden;
    scroll-behavior: unset;

    background-color: rgb(29, 27, 27);
    padding: 50px;
}
#spanId {
    font-size: 18px;
    margin: 50px;
}

div.container {
display: flex;
justify-content: space-around;
}

div {
    text-align: center;
}